{% extends 'home.html' %} 
 
{% block container %} 
  <div class="top-pad"> 
    {% for book in books.items %} 
      <div class="well"> 
        <h2> 
          <img src="{{ url_for('static', filename='uploads/' + book.image_path) }}" style="width:10%;"/>
          <a href="{{ url_for('store.book', id=book.id) }}">{{ book.name }}</a> 
          <small>$ {{ book.price }}</small> 
          {% if current_user.role!="admin" %}
          <form action="{{ url_for('store.add_to_cart', book_id=book.id) }}" method="post" style="display: inline;">
            <button type="submit">Add to Cart</button>
          </form>
          {% endif %}
        </h2> 
      </div> 
    {% endfor %} 
    {% if books.has_prev %} 
      <a href="{{ url_for(request.endpoint, page=books.prev_num) }}"> 
        {{"<< Previous Page"}} 
      </a> 
    {% else %} 
      {{"<< Previous Page"}} 
    {% endif %} | 
    {% if books.has_next %} 
      <a href="{{ url_for(request.endpoint, page=books.next_num) }}"> 
        {{"Next page >>"}} 
      </a> 
    {% else %} 
      {{"Next page >>"}} 
    {% endif %} 
  </div> 
{% endblock %} 